#topContainer {
	border-bottom: thin solid gray;
	height: 80px;
	margin-top: 25px;
	margin-bottom: 40px;
	text-align: center;

}

#pageTitle {
	display: inline-block;
	line-height: 20px;
}

#mainDiv {
	margin: auto;
	width: 90%;
	height: 50%;
	background-color: red;
}

#graphDiv, #newLiftContainer {
	display: inline-block;
}

#graphDiv {
	float: right;
	width: 47%;
}

#newLiftContainer {
	text-align: center;
	width: 47%;
	float: left;
}

input {
	padding:5px 15px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    margin: auto;
}

button {
	padding:5px 15px; 
    background: #E67767; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

#newLiftContainer input, #newLiftContainer button {
	margin: auto;
}

#weightInput, #repsInput, #typeInput, #dateInput, #saveLift {
	display: block;
}