#topContainer {
	border-bottom: thin solid gray;
	height: 80px;
	margin-top: 25px;
	margin-bottom: 40px;
	text-align: center;

}

#pageTitle {
	display: inline-block;
	line-height: 20px;
}

#mainDiv {
	margin: auto;
	width: 90%;
	height: 50%;
	background-color: red;
}

#graphDiv, #newLiftContainer {
	display: inline-block;
}

#graphDiv {
	float: left;
	width: 47%;
}

#newLiftContainer {
	text-align: center;
	align-items: center;
	width: 40%;
	float: right;
}

#weightInput, #repsInput, #typeInput, #dateInput, #saveLift {
	display: block;
}