body {
	font-family: 'Roboto' !important;
	margin:0;
	padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

div {
	margin:0;
	padding: 0;
  text-align: center;
}

h2 {
	font-weight: 400;
  text-align: center;
	
}

h1 {
	font-weight: 400;
	
}

input {
	padding:5px 15px; 
    border:2px solid #ccc; 
    width: 200px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
    border-right-width: 0px;
    border-left-width: 0px;
    text-align: center;

}

button {
	color: white;
	padding:5px 15px; 
    background: #E74C3C; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

select {
	-webkit-appearance: none; 
   	-moz-appearance: none;
   	appearance: none;
   	width: 20%;
   	height: 20px;
   	text-align: center;
 }

 input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

td, th {
    border-bottom: 1px solid #DCDCDC;
    text-align: left;
    padding: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

#topContainer {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 30%;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  margin-left: 35%;

}

#results {
  width: 60%;
  margin-left: 20%;
  text-align: center;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  background-color: white;
}

#resultsTable {
  width: 100%;
}

