body {
	font-family: 'Roboto' !important;
	margin:0;
	padding: 0;
}

.swal-button--confirm {
  background-color: white;
  color: #E74C3C;
  font-weight: 200;
  border: 1px solid #DCDCDC;
}

.swal {
	color: #FBFBFB;
	background-color: #FBFBFB;
}

.swal-title {
	font-weight: 200;
	color: black;
}

div {
	margin:0;
	padding: 0;
}

h2 {
	font-weight: 300;
	
}

h1 {
	font-weight: 300;
	
}

h3 {
	font-weight: 300;
}

p {
	font-weight: 200;
}

input {
	padding:5px 15px; 
    border:2px solid #ccc; 
    width: 200px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
    border-right-width: 0px;
    border-left-width: 0px;
    text-align: center;

}

button {
	color: #E74C3C;
  height: 100%;
  width: 100%;
  border: 0px solid #DCDCDC;
  border-radius: 5px;
  background-color: white;
  font-size: 13px;
  font-weight: 200;
}

select {
   border: 1px solid #ccc;
   width: 17%;
   height: 23px;
   font-size: 13px;
   border-radius: 3px;
   overflow: hidden;
   font-weight: 200;

}


 input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder {
   font-size: 13px;
   font-weight: 200;
}

input {
	font-weight: 200;
	font-size: 13px;
}

#dashboardDiv , #menuDiv{
	display: inline-block;
}

#dashboardDiv {
	width: 100%;
	float: right;
	background-color: #FBFBFB;
	margin-top: 90px;
}

#topContainer {
	border-bottom: thin solid #C0C0C0;
	height: 90px;
	text-align: right;
	display: block;
    position: fixed;
    left: 0px;
    margin: 0px;
    width: 100%;
    background-color: white;
}

#abouttheapp a {
	font-family: 'Roboto', sans-serif;
	color: #E74C3C;
	text-decoration: none;
	text-align: left;
	margin-top: 30px;
	margin-left: 20px;
	line-height: 0px;
}

#headerContainer {
	width: 280px;
	height: 80px;
	padding: 0px;
}

#aboutLink, #appLink {
	display: inline-block;
	margin-left: 40px;
}

#icon, #mainTitle {
	display: inline-block;
	line-height: 45x;
	vertical-align: middle;

}

#icon {
	float: left;
	border-radius: 15px;
	margin-top:10px;
  	margin-left: 30px;
}

#mainTitle {
	float: right;
}

#linksContainer a {
	color: #E74C3C;
	text-decoration: none;
	line-height: 85px;

}
#headerContainer, #linksContainer, #abouttheapp {
	display: inline-block;
}

#abouttheapp {
	margin-right: 40px;
}

#headerContainer {
	float: left;
}
#linksContainer {
	float: right;
	border-left: 1px solid #C0C0C0;
	width: 19%;
	height: 100%;
}

#accountLink {
	float: right;
	margin-right: 15%;
	line-height: 60px;

}

#userIcon {
	float: left;
	margin-left: 20%;
	margin-top: 15px;
}

h2.subhead {
	color: #E74C3C;
	margin-bottom: 30px;
}

#graphDiv {
	text-align: center;
	width: 100%;
	height: 100%;
}

#chooseLift {
	width: 200px;
}

#chooseLiftToDisplay, #lifttableform {
	display: inline-block;
}

#liftProgressTitle, #lifttableform {
	display: inline-block;
}

#lifttableform {
	float: right;
	line-height: 60px;
	margin-right: 3%;
}

#liftProgressTitle {
	margin-left: 14%;
}

#myChart {
	text-align: center;
	height: 250px !important;
}

#container {
	width: 90%;
	margin: auto;
	margin-bottom: 70px;
	height: 325px;
	margin-top: 40px;

	/*border-radius: 15px;*/
}
.lift {
	width: 55%;
	display: inline-block;
	text-align: center;	
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
	float: right;
}

#newLiftContainer {
	width: 40%;
	height: 100%;
	text-align: right;
}

#newLiftContainer input{
	float: right;
	text-align: right;
	margin-right: 5%;
	line-height: 40px;
	border-bottom: 0px;
}

#addNewWeight, #addNewReps, #addNewType, #addNewDate {
	height: 52px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 14px;
	background-color: pink;
	display: block;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;

}

#newLiftContainer input, #newLiftContainer button {
	margin-bottom: 0px;
}

#promptWeight, #weightInput {
	display: inline-block;
	margin-left: 5%;
}

#promptReps, #repsInput {
	display: inline-block;
	margin-left: 5%;
}

#promptType, #typeInput {
	display: inline-block;
	margin-left: 5%;
}

#typeInput {
	width: 15%;
}

#typeSelectDiv {
	margin-left: 20%;	
	line-height: 20px;
	height: 100%;
	margin-top: 2.1%;
}

#lifttypes {
	margin-left: 20%;	
	line-height: 20px;
	width: 25%;
}

#promptDate, #dateInput {
	display: inline-block;
	margin-left: 5%
}

#promptWeight, #promptReps, #promptType, #promptDate {
	float: left;
}

#saveLift {
	color: #E74C3C;
	height: 52px;
	width: 15%;
	float: right;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
}

.nutrition {
	width: 90%;
	margin: auto;
	margin-bottom: 70px;
	height: 325px;
}

#displayCals, #displayFat, #displayCarbs, #displayProtein {
	height: 52px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 15px;
	background-color: pink;
	display: block;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
	line-height: 50px;
}

#showData, #newFood {
	display: inline-block;
	text-align: center;
}

#newFood {
	text-align: left;
}

#showData {
	width: 40%;
}

#enterfood, #foodbutton {
	display: inline-block;
}

#enterfood {
	float: left;
	height: 65px;
	width: 80%;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
}

#foodbutton {
	width: 15%;
	margin-left: 4%;
	margin-right: 0px;
	float: right;
}

#search {
	color: #E74C3C;
	height: 65px;
	width: 100%;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
}

#foodHistoryContainer {
	width: 55%;
	height: 250px;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	border: 1px solid #DCDCDC;
}

#foodHistory {
	overflow-y: scroll;
	height: 190px;
	border-top: 1px solid #DCDCDC;
}

#showData {
	float: right;
 }

#newFood {
	float: left;
	height: 20%;
	width: 55%;
	margin-bottom: 20px;
}

#foodHistoryContainer, #newFood {
	display: inline-block;
}

#newFoodTitle, #searchInput {
	display: inline-block;
}

#newFoodTitle {
	float: left;
	margin-right: 20px;
	margin-left: 30px;
}

#searchInput {
	float: right;
	line-height: 55px;
	border-bottom: 0px;
	margin-right: 2px;
}

#newFoodTitle {
	margin-right: 10%;
}

#weightDiv {
	width: 90%;
	margin: auto;
	margin-bottom: 50px;
	height: 325px;
}

.bodyweightGraph, #newWeight {
	display: inline-block;
	text-align: center;
	width: 500px;
}

.bodyweightGraph {
	float: left;
	height: 100%;
	width: 50%;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
}

#newWeight {
	float: right;
	width: 45%;	
}

#bodyweightGraphDiv {
	height: 250px;
	width: 100%;
	text-align: center;
}

#weightTitle, #newBodyWeight {
	display: inline-block;
}

#weightTitle {
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}
#newBodyWeight {
	float: right;
	line-height: 55px;
	border-bottom: 0px;
	margin-right: 2px;
}

#promptBodyweight, #addBodyweightButtonDiv {
	display: inline-block;
}

#promptBodyweight {
	float: left;
	margin-left: 0px;
	background-color: pink;
	width: 75%;
	background-color: white;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
}

#addBodyweightButtonDiv {
	float: right;
	width: 20%;
}

#add {
	color: #E74C3C;
	height: 68px;
	width: 100%;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
}










