#topContainer {
	border-bottom: thin solid gray;
	height: 80px;
	margin-top: 25px;
	margin-bottom: 40px;

}

#headerContainer {
	width: 390px;
	margin: auto;
	height: 80px;
}

#mainTitle, #icon {
	display: inline-block;
}
#mainTitle {
	float: right;
	line-height: 25px;
}
#icon {
	float: left;
	border-radius: 15px;
}

h2.subhead {
	color: #E74C3C;
	margin-bottom: 30px;
}

#container {
	width: 1050px;
	margin: auto;
	margin-bottom: 30px;
	height: 125px;
}
.lift, .food {
	width: 500px;
	display: inline-block;
	text-align: center;
	border: 3px solid #D3D3D3;
	border-radius: 15px;	

}

#lift_link {
	color: #E74C3C;
	text-decoration: none;
}
#food_link {
	color: #E74C3C;
	text-decoration: none;
}
#weight_link {
	color: #E74C3C;
	text-decoration: none;
}


.lift {
	/*bordering items, bottom only*/
	float: left;
}

p.lift_p {
	color: #E74C3C
}


.food {
	float: right;
}

.weight {
	width: 500px;
	text-align: center;
	border: 3px solid #D3D3D3;
	border-radius: 15px;
	margin: auto;
}