#topContainer {
	border-bottom: thin solid gray;
	height: 80px;
	margin-top: 25px;
	margin-bottom: 40px;

}

#headerContainer {
	width: 250px;
	margin: auto;
	height: 80px;
}

#mainTitle, #icon {
	display: inline-block;
}
#mainTitle {
	float: right;
	line-height: 25px;
}
#icon {
	float: left;
	border-radius: 15px;
}

h2.subhead {
	color: #E74C3C;
	margin-bottom: 30px;
}

#graphDiv {
	text-align: center;
	width: 90%;
}

#container {
	width: 1000px;
	margin: auto;
	margin-bottom: 30px;
	height: 350px;
	border: 1px solid #D3D3D3;
	/*border-radius: 15px;*/
}
.lift, .addLift {
	width: 500px;
	display: inline-block;
	text-align: center;	
}

.lift {
	/*bordering items, bottom only*/
	float: left;
}

input {
	padding:5px 15px; 
    border:2px solid #ccc; 
    width: 200px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
    border-right-width: 0px;
    border-left-width: 0px;
}

button {
	padding:5px 15px; 
    background: #E67767; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;

}

#newLiftContainer input, #newLiftContainer button {
	margin: auto;
	margin-bottom: 28px;
}

#weightInput, #repsInput, #typeInput, #dateInput, #saveLift {
	display: block;
}








