body {
	font-family: 'Roboto' !important;
	margin:0;
	padding: 0;
}

div {
	margin:0;
	padding: 0;
}

h2 {
	font-weight: 400;
	
}

h1 {
	font-weight: 400;
	
}

input {
	padding:5px 15px; 
    border:2px solid #ccc; 
    width: 200px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
    border-right-width: 0px;
    border-left-width: 0px;
    text-align: center;

}

button {
	color: white;
	padding:5px 15px; 
    background: #E74C3C; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

select {
	-webkit-appearance: none; 
   	-moz-appearance: none;
   	appearance: none;
   	width: 20%;
   	height: 20px;
   	text-align: center;
 }

 input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#dashboardDiv , #menuDiv{
	display: inline-block;
}

#menuDiv {
	width: 14.92%;
	float: left;
	height: 1150px;
	background-color: white;
	border-right: 1px solid #C0C0C0;
}

#menuDiv a {
	font-family: 'Roboto', sans-serif;
	color: #E74C3C;
	text-decoration: none;
	display: block;
	text-align: left;
	margin-top: 30px;
	margin-left: 20px;
}

#dashboardDiv {
	width: 85%;
	float: right;
	background-color: #f8f8f8;
}

#topContainer {
	border-bottom: thin solid #C0C0C0;
	height: 90px;
}



#headerContainer {
	width: 280px;
	height: 80px;
	padding: 0px;
}

#icon, #mainTitle {
	display: inline-block;
	line-height: 45px;
	vertical-align: middle;

}

#icon {
	float: left;
	border-radius: 15px;
	margin-top:10px;
  	margin-left: 30px;
}

#mainTitle {
	float: right;
}

#linksContainer a {
	color: #E74C3C;
	text-decoration: none;
	line-height: 85px;

}
#headerContainer, #linksContainer {
	display: inline-block;
}

#headerContainer {
	float: left;
}
#linksContainer {
	float: right;
	border-left: 1px solid #C0C0C0;
	width: 19%;
	text-align: center;
	height: 100%;
}

#accountLink {
	float: right;
	margin-right: 19%;
}

#userIcon {
	float: left;
	margin-left: 19%;
	margin-top: 15px;
}

h2.subhead {
	color: #E74C3C;
	margin-bottom: 30px;
}

#graphDiv {
	text-align: center;
	width: 100%;
	height: 100%;
}

#chooseLift {
	width: 200px;
}

#myChart {
	text-align: center;
	height: 250px !important;
}

#container {
	width: 95%;
	margin: auto;
	margin-bottom: 50px;
	height: 325px;
	margin-top: 40px;

	/*border-radius: 15px;*/
}
.lift {
	width: 55%;
	display: inline-block;
	text-align: center;	
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
	float: right;
}

#newLiftContainer {
	width: 40%;
	height: 100%;
	text-align: right;
}

#newLiftContainer input{
	float: right;
	text-align: right;
	margin-right: 5%;
	line-height: 40px;
	border-bottom: 0px;
}

#addNewWeight, #addNewReps, #addNewType, #addNewDate {
	height: 52px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 14px;
	background-color: pink;
	display: block;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;

}

#newLiftContainer input, #newLiftContainer button {
	margin-bottom: 0px;
}

#promptWeight, #weightInput {
	display: inline-block;
	margin-left: 5%;
}

#promptReps, #repsInput {
	display: inline-block;
	margin-left: 5%;
}

#promptType, #typeInput {
	display: inline-block;
	margin-left: 5%;
}

#promptDate, #dateInput {
	display: inline-block;
	margin-left: 5%
}

#promptWeight, #promptReps, #promptType, #promptDate {
	float: left;
}

#saveLift {
	color: #E74C3C;
	height: 52px;
	width: 15%;
	float: right;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;
}

.nutrition {
	width: 95%;
	margin: auto;
	margin-bottom: 50px;
	height: 325px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: white;

}

#showData, #newFood {
	display: inline-block;
	text-align: center;
	width: 500px;
}

#showData {
	float: left;
}

#newFood {
	float: right;
}

#weightDiv {
	width: 95%;
	margin: auto;
	margin-bottom: 50px;
	height: 325px;
	border: 1px solid #DCDCDC;
	margin-top: 40px;
	border-radius: 5px;
	background-color: white;
}

.bodyweightGraph, #newWeight {
	display: inline-block;
	text-align: center;
	width: 500px;
}

#bodyweightGraph {
	float: right;
}

#newWeight {
	float: right;	
}

#bodyweightGraphDiv {
	width: 90%;
	text-align: center;
}










