#dashboardDiv , #menuDiv{
	display: inline-block;
}

#menuDiv {
	width: 15%;
	float: left;
	height: 1100px;
	padding: 0px;
	background-color: white;
}

#menuDiv a {
	font-family: Arial;
	color: #E74C3C;
	text-decoration: none;
	display: block;
	text-align: left;
	margin-top: 30px;
	margin-left: 20px;
}

#dashboardDiv {
	width: 85%;
	float: right;
	background-color: #f8f8f8
}

#topContainer {
	border-bottom: thin solid gray;
	height: 90px;
}



#headerContainer {
	width: 250px;
	margin: auto;
	height: 80px;
}

#icon, #mainTitle {
	display: inline-block;
	line-height: 45px;
	vertical-align: middle;

}

#icon {
	float: left;
	border-radius: 15px;
	margin-top:10px;
  	position: relative;
}

#mainTitle {
	float: right;
}

#linksContainer a {
	color: #E74C3C;
	text-decoration: none;
	margin-right: 50px;
	line-height: 85px;

}
#headerContainer, #linksContainer {
	display: inline-block;
	font-family: Arial;
}

#headerContainer {
	float: left;
}
#linksContainer {
	float: right;
}

h2.subhead {
	color: #E74C3C;
	margin-bottom: 30px;
}

#graphDiv {
	text-align: center;
	width: 90%;
}

#container {
	width: 95%;
	margin: auto;
	margin-bottom: 50px;
	height: 325px;
	border: 1px solid #D3D3D3;
	margin-top: 40px;
	border-radius: 5px;
	background-color: white;

	/*border-radius: 15px;*/
}
.lift, .addLift {
	width: 500px;
	display: inline-block;
	text-align: center;	
}

.lift {
	/*bordering items, bottom only*/
	float: right;
}

.addLift {
	float: left;
}

input {
	padding:5px 15px; 
    border:2px solid #ccc; 
    width: 200px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
    border-right-width: 0px;
    border-left-width: 0px;
}

button {
	padding:5px 15px; 
    background: #E74C3C; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;

}

#newLiftContainer input, #newLiftContainer button {
	margin: auto;
	margin-bottom: 25px;
}

#weightInput, #repsInput, #typeInput, #dateInput, #saveLift {
	display: block;
}

.nutrition {
	width: 95%;
	margin: auto;
	margin-bottom: 50px;
	height: 325px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: white;

}

#showData, #newFood {
	display: inline-block;
	text-align: center;
	width: 500px;
	font-family: Arial;
}

#showData {
	float: left;
}

#newFood {
	float: right;
}

#weightDiv {
	width: 95%;
	margin: auto;
	margin-bottom: 50px;
	height: 325px;
	border: 1px solid #D3D3D3;
	margin-top: 40px;
	border-radius: 5px;
	background-color: white;
}

.bodyweightGraph, #newWeight {
	display: inline-block;
	text-align: center;
	width: 500px;
	font-family: Arial;	
}

#bodyweightGraph {
	float: right;
}

#newWeight {
	float: right;	
}

#bodyweightGraphDiv {
	width: 90%;
	text-align: center;
}










